{% extends 'base.html' %}

{% block main %}
<h4 class="list-group-item list-group-item-primary">Lista de Funcionários</h4>


<ul class="list-group">
  <li class="list-group-item list-group-item-success">

    {% for funcionario in object_list %}


           {{funcionario|upper}}

      <span class="badge badge-warning">
        <a href="{% url 'detalhe_funcionario' funcionario.id %}">
            Detalhe
        </span>
        </a>
        <br>
    {% endfor %}

  </li>
</ul>

    <a href="{% url 'create_funcionario' %}" class="btn btn-info"> Novo </a>


    <a href="{% url 'relatorio_funcionarios' %}" class="btn btn-info">Relatório Funcionarios</a>
    <a href="{% url 'relatorio_funcionarios_html' %}" class="btn btn-info">Relatório Funcionarios HTML</a>



{% endblock %}
