{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}


<form method="POST">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
    <br>
    <a href="{% url 'create_empresa' %}">
      <button type="button" class="btn btn-primary">
        <span class="fa fa-plus"></span> Adicionar Empresa
      </button>
    </a>

    
    <a href="{% url 'create_departamento' %}">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-plus"></span> Adicionar Departamento 
        </button>
    </a>
<br>
<h5>Documentos</h5>
<ul>
{% for documento in object.documento_set.all %}
    <li>
      <a href="{{ documento.arquivo.url }}"> {{ documento.descricao }} </a><br>
    </li>
{% endfor %}
</ul>

  {% if object %}
      <a href="{% url 'create_documento'  object.id %}" class="btn btn-success">Adicionar Documento</a>
    {% endif %}

<h5>Banco de Horas</h5>
<ul>
{% for registro_hora in object.registrohoraextra_set.all %}
    <li>
      <a href="{% url 'update_horas-extras' registro_hora.id %}">{{ registro_hora.motivo }} | {{ registro_hora.horas }} </a><br>
    </li>
{% endfor %}

</ul>
<h5>Total de horas extras: {{ object.total_horas_extra }} </h5>
  {% if object %}
      <a href="{% url 'create_horas-extras' %}" class="btn btn-success">Adicionar Hora Extras</a>
  {% endif %}

{% endblock %}

