{% extends 'base.html' %}



{% block main %}
    <br>
  <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
          <h5 class="card-title">
            <i class="fa fa-users" aria-hidden="true"></i>
              <a href="{% url 'list_funcionarios' %}">Empregados</a>

          </h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
          <h5 class="card-title">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
              <a href="{% url 'list_horas-extras' %}">Banco de Horas</a>

          </h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
          <h5 class="card-title">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
              <a href="#">Documentos</a>

          </h5>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Funcionarios</div>
          <div class="card-body">
            <ul>

              <li>Total Funcionarios: {{ total_funcionarios }}</li>
              <li>Total func. ferias: {{ total_funcionarios_ferias }}</li>
              <li>Total func. doc. pendente: {{ total_funcionarios_doc_pendente }}</li>

            </ul>
          </div>
        </div>
      </div>


    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Status Horas Extras</div>
          <div class="card-body">
            <ul>

              <li>Horas pendentes: {{ total_hora_extra_pendente }}</li>
              <li>Horas utilizadas: {{ total_hora_extra_utilizadas }}</li>

            </ul>


          </div>
        </div>
      </div>
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Status Documentos</div>
          <div class="card-body">
            <ul>

              <li>Func. Doc. OK: {{ total_funcionarios_doc_ok }}</li>
              <li>Func. Doc. pendentes: {{ total_funcionarios_doc_pendente }}</li>
              <li>Func. doc. pendente: {{ total_funcionarios_rg }}</li>

            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm">



    </div>
  </div>
</div>
{% endblock %}
