{% extends 'base.html' %}

{% block main %}
<h4 class="list-group-item list-group-item-primary">Banco de Horas</h4>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    {% for horas_extras in object_list %}
        <br>
        <a href="{% url 'update_horas-extras_geral' horas_extras.id %}">
           {{horas_extras}}
        </a>

        <br>
    {% endfor %}


    {% if not object_list %}
        <h3>Não existe registro de horas extras no banco de dados</h3>
    {% endif %}
</li>
</ul>

        <a href="{% url 'create_horas-extras' %}" class="btn btn-info"> Novo </a>
        <a href="{% url 'exportar_csv' %}"  class = " btn btn-info " > Exportar CSV </a>
        <a href="{% url 'exportar_excel' %}"  class = " btn btn-info " > Exportar Excel </a>

{% endblock %}

